*,
body {
  margin: 0;
}
.buttonMain,
.loader,
.overlayLogin form,
footer {
  background-color: var(--colorBlack);
}
:root {
  --colorOrange: #ff7315;
  --colorWhite: #fff;
  --colorBlack: #232020;
  --colorGray: #6b778d;
  --colorGrayLight: #f4f4f4;
}
* {
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}
body {
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  text-align: left;
  background-color: var(--colorWhite);
}
.buttonMain,
body,
body a,
body li,
body p,
input {
  font-family: Lato, sans-serif;
}
::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-track {
  background: var(--colorGrayLight);
}
::-webkit-scrollbar-thumb {
  background: var(--colorOrange);
}
.title {
  color: #232020;
}
.bannerHead .pathHome .home:hover,
.bannerSliderMain header .containerFluid .leftContern h4 a,
.bannerSliderMain header nav h1 span,
.bannerSliderMain header nav ul li a:hover,
.productsShop .productShop .productContent .title:hover,
.title .titleSpan,
footer .copy ul li:hover,
footer .partOne h1 span,
footer .partTow .useful ul li:hover {
  color: var(--colorOrange);
}
.productsShop .productShop .productContent .priceCount .count span,
.productsShop .productShop .productContent .priceCount .price span,
.productsShop .productShop .productContent del,
.subtitle {
  color: var(--colorGray);
}
.buttonMain {
  color: var(--colorWhite);
  padding: 10px 15px;
  transition: 0.3s;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
}
.bannerSliderMain header .containerFluid .rightContent ul li:hover,
.buttonMain:hover,
.productsShop .productShop .productImg .addCart:hover {
  background-color: var(--colorOrange);
}
.loader {
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: 100;
  transition: 0.3s;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
}
.lds-ripple {
  display: inline-block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 80px;
  height: 80px;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
}
.lds-ripple div {
  position: absolute;
  border: 4px solid var(--colorOrange);
  opacity: 1;
  border-radius: 50%;
  animation: 1s cubic-bezier(0, 0.2, 0.8, 1) infinite lds-ripple;
}
.lds-ripple div:nth-child(2) {
  animation-delay: -0.5s;
}
@keyframes lds-ripple {
  0%,
  4.9% {
    top: 36px;
    left: 36px;
    width: 0;
    height: 0;
    opacity: 0;
  }
  5% {
    top: 36px;
    left: 36px;
    width: 0;
    height: 0;
    opacity: 1;
  }
  100% {
    top: 0;
    left: 0;
    width: 72px;
    height: 72px;
    opacity: 0;
  }
}
.OverlaySearch,
.bannerHead::before,
.overlay {
  width: 100%;
  height: 100%;
}
.hideLoader {
  opacity: 0;
  z-index: -999;
}
.bannerSliderMain header .containerFluid .leftContern h4 {
  font-weight: 600;
  text-transform: capitalize;
  font-size: 15px;
}
.bannerSliderMain header .containerFluid .rightContent ul li {
  background-color: rgb(0, 0, 0, 0.5);
  transition: 0.2s;
  -webkit-transition: 0.2s;
  -moz-transition: 0.2s;
  -ms-transition: 0.2s;
  -o-transition: 0.2s;
}
.bannerSliderMain header .containerFluid .rightContent ul .shooping button span,
.bannerSliderMain header nav ul .drop button {
  text-transform: capitalize;
}
.bannerSliderMain header nav h1 {
  font-size: 3vw;
}
.bannerSliderMain header nav ul {
  display: flex;
}
.bannerSliderMain header nav ul li {
  display: flex;
  flex-direction: row;
  justify-content: end;
  flex-grow: 1;
  text-transform: capitalize;
  margin-left: 30px;
  cursor: pointer;
  position: relative;
  font-weight: 600;
  color: var(--colorWhite);
}
.bannerHead .pathHome .home,
.bannerSliderMain header nav ul li a,
.productsShop .productShop .productImg figure img:nth-child(2) {
  transition: 0.3s;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
}
.bannerSliderMain header nav ul .drop {
  display: flex;
  flex-direction: column;
}
.bannerSliderMain header nav ul .drop a {
  text-align: center;
}
.bannerSliderMain header nav ul .drop .contetnDrop {
  background-color: var(--colorGrayLight);
  color: var(--colorBlack);
  position: absolute;
  padding: 10px;
  margin-top: 10px;
  top: 25px;
  left: -5px;
  width: max-content;
  transition: 0.2s;
  -webkit-transition: 0.2s;
  -moz-transition: 0.2s;
  -ms-transition: 0.2s;
  -o-transition: 0.2s;
}
.bannerSliderMain header nav ul .drop .contetnDrop::before {
  content: "";
  width: 10px;
  height: 10px;
  background-color: var(--colorGrayLight);
  border: 1px solid #d5d5d5ee;
  display: block;
  border-right: none;
  border-bottom: none;
  transform: translateX(-50%) rotateZ(45deg);
  position: absolute;
  top: -5px;
  left: 50%;
  z-index: 100;
}
.hideDrop {
  display: none;
}
.bannerSliderMain header nav .openNav {
  background-color: var(--colorWhite);
  padding: 10px;
  color: var(--colorOrange);
  display: none;
}
@media only screen and (max-width: 1024px) {
  .bannerSliderMain header nav .openNav {
    display: block;
  }
  .bannerSliderMain header nav ul {
    position: absolute;
    top: 100%;
    left: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--colorBlack);

    overflow: hidden;
    transform: translate(-50%, 0);
    -webkit-transform: translate(-50%, 0);
    -moz-transform: translate(-50%, 0);
    -ms-transform: translate(-50%, 0);
    -o-transform: translate(-50%, 0);
    transition: all 0.3s;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
  }
  .bannerSliderMain header nav ul li {
    margin: 10px 20px;
  }
  .notActiveNav {
    width: 80%;
  }
  .activeNav {
    width: 0;
  }
  .bannerSliderMain header nav ul .drop .contetnDrop {
    position: relative;
    left: 0;
    top: 0;
  }
}
.bannerHead {
  background-image: url("../images/posts/asset\ 23.jpeg");
  background-position: center;
  background-size: cover;
  width: 100%;
}
.bannerHead::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  background: rgba(14, 13, 13, 0.59);
}
.bannerHead h1,
footer .partTow .buy li:hover,
footer .partTow .our h1,
footer .partTow .useful h1 {
  color: var(--colorWhite);
}
.overlayLogin {
  background-color: #3a3535;
  position: fixed;
  right: -100%;
  top: 0;
  width: 100%;
  height: 100%;
  padding: 4rem;
  transition: 0.5s;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -ms-transition: 0.5s;
  -o-transition: 0.5s;
  overflow: hidden;
  z-index: 10;
}
.overlayLogin form {
  padding: 3rem 25px;
}
@media (max-width: 676px) {
  .overlayLogin form {
    width: 80vw;
  }
}
.overlayLogin form div label {
  color: var(--colorWhite);
  margin-bottom: 10px;
  text-transform: capitalize;
}
.overlayLogin form div span {
  color: #6c757d;
  font-size: 14px;
}
.overlayLogin form div input {
  padding: 10px;
  color: #6b778d;
}
.OverlaySearch {
  position: fixed;
  top: 0;
  right: -100%;
  background: rgba(35, 32, 32, 0.7);
  z-index: 5;
  transition: 0.5s;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -ms-transition: 0.5s;
  -o-transition: 0.5s;
}
.OverlaySearch input[type="text"] {
  color: #6b778d;
}
.OverlaySearch .close i,
.overlayLogin .close i {
  border: 2px solid var(--colorGrayLight);
  padding: 10px 15px;
}
.productsShop .productShop .productImg:hover > .overlay {
  animation: 0.3s linear infinite alternate ovelay;
  -webkit-animation: 0.3s linear ovelay;
}
.overlay {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}
@keyframes ovelay {
  0% {
    background-color: rgba(255, 255, 255, 0.3);
    z-index: 1;
  }
  100% {
    background-color: none;
    z-index: 1;
  }
}
.productsShop .productShop .productImg:hover > figure img:nth-child(2) {
  opacity: 0;
}
.productsShop .productShop .productImg .icon {
  position: absolute;
  top: 50%;
  right: -100%;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transition: 0.3s;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
}
.productsShop .productShop .productImg .icon li {
  background-color: var(--colorWhite);
  cursor: pointer;
  animation: 0.3s linear 2s myfirst;
  -webkit-animation: 0.3s linear 2s myfirst;
}
.productsShop .productShop .productImg .icon li:hover {
  background-color: var(--colorOrange);
  color: var(--colorWhite);
}
.productsShop .productShop .productImg:hover .icon {
  right: 30px;
}
.productsShop .productShop .productImg .addCart {
  background-color: var(--colorBlack);
  color: var(--colorGrayLight);
  position: absolute;
  bottom: -50%;
  transition: 0.3s;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
  cursor: pointer;
}
.productsShop .productShop .productImg:hover .addCart {
  bottom: 0;
}
.productsShop .productShop .productImg .productContent .title {
  color: var(--colorBlack);
  transition: 0.3s;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
}
.productsShop .productShop .productContent .priceCount {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
}
.productsShop .productShop .productContent .priceCount .count,
.productsShop .productShop .productContent .priceCount .price {
  color: var(--colorBlack);
}
.shoopingProductCard {
  padding: 10px;
  border-radius: 6px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  -o-border-radius: 6px;
}
footer .partOne p,
footer .partTow .our p {
  color: var(--colorGrayLight);
  opacity: 0.7;
}
footer .icon li {
  color: var(--colorGrayLight);
  margin-right: 25px;
  width: 36px;
  height: 36px;
  background-color: #3a3535;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  transition: 0.3s;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
}
footer .icon li:hover {
  background-color: var(--colorOrange);
  cursor: pointer;
}
footer .partTow .useful ul li {
  color: var(--colorGrayLight);
  opacity: 0.7;
  margin: 10px 0;
  transition: 0.3s;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
  cursor: pointer;
}
footer .partTow .buy li {
  margin-right: 25px;
  color: var(--colorGray);
  font-size: 26px;
  transition: 0.3s;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
}
footer .copy ul li {
  margin-right: 25px;
  color: var(--colorGrayLight);
  opacity: 0.7;
  transition: 0.3s;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
  cursor: pointer;
}
footer .copy p {
  margin-right: 25px;
  color: var(--colorGrayLight);
}
.btnToTop svg {
  width: 44px;
  height: 44px;
  padding: 9px;
  border-radius: 7px;
  background: var(--colorBlack);
  fill: var(--colorOrange);
  position: fixed;
  bottom: 2rem;
  right: 2rem;
  transition: 0.3s;
  cursor: pointer;
  opacity: 0;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
  z-index: 999;
  border: 1px solid var(--colorGray);
}
.btnToTop svg:hover {
  background: #222;
  fill: #d1d1d1;
}
